body {
	margin:5px;
/* 	overflow-x:hidden; */
}

* {
   font-size:12px;
/*    line-height:2; */
}

.margin-left {
    margin-left:25px; 
}

.margin-top {  
    margin-top:20px; 
}

.margin-top-md {
    margin-top:8px;
}

table.adminListTable td, table.adminListTable td * {
	font-size: 11px;
}

table.adminListTable {
	border: 1px solid #000000;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.adminListTable tr td,table.adminListTable tr th {
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 1px 2px;
}

table.adminListTable tr th {
	border-top: 1px solid #000000;
	background-color: #1d9ce5;
	color: #fff;
	text-align:center;
}

.formErrors {
	color: red;
}

a,a:visited {
	text-decoration: none;
}

a.linkToExistingPermissions {
	font-weight:bold;
}

table#moduleTable input.resetButton, table#moduleTable input.applyButton {
	padding: 0 5px;
}

table#moduleTable td {
	text-align:center
}

.modal-content {
    max-height: 95vh;
    overflow-y: auto;
}

.dumpVALID {
	background-color:#88FF88;
}

.dumpOUTDATED {
	background-color:#FFAA66;
}

.dumpDIVERGED {
	background-color:#CC88FF;
}

.dumpBUSY {
	background-color:#AAAAAA;
}

.dumpNONE {
	background-color:#FF8888;
}

.dumpUNSUPPORTED {
	background-color: none;
}

.databaseListContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	margin: 10px;
	flex: 1;
}

.databaseListHeader {
	background-color: #022a50;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.databaseListModules {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 97vw ;
}

.databaseModule {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
}

.databaseColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.databaseCell {
	flex: 1;
	padding: 8px;
	text-align: center;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.databaseSpan {
	white-space: nowrap;
	margin: 4px 0 0 0;
}

.databaseColumn .databaseCell:first-child {
	background-color: #1d9ce5;
	color: white;
}

.separator {
	width: 100%;
	border: 1px solid #ccc;
}


